---
layout: archive
title: "Portfolio"
permalink: /portfolio/portfolio-2.html
author_profile: true
---
Check out the Twitter?

{% include base_path %}
<a class="twitter-timeline" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<li><div class="myAltMcontainer"><div class='altmetric-embed' data-badge-type='donut' data-doi="10.1101/233676"></div></div>


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

